[submodule "src/github.com/timtadh/getopt"]
	path = src/github.com/timtadh/getopt
	url = git@github.com:timtadh/getopt.git
[submodule "src/golang.org/x/image"]
	path = src/golang.org/x/image
	url = git@github.com:golang/image
[submodule "src/github.com/disintegration/imaging"]
	path = src/github.com/disintegration/imaging
	url = git@github.com:disintegration/imaging
